/**
    Title: Project Management Portal
    Author: Keith Hall
    Date: 08/22/2021
    Modified By: Professor  P. Itskovich, Keith Hall
    Description: This is the global style sheet for the Project Management Portal.
*/

/* Home page container */
#container {
    margin: 20px 100px 0;
	padding-top: 15px;
}
 /* Toggle icon and text. */
#icon-mode:hover {
	cursor: pointer;
}
#icon-text {
	padding-left: 10px;
	margin-right: 100px;
}
.pull-right {
	float: right;
}
/* Card container styling. */
.assign-container {
    padding: 10px;
	margin-top: -38px;
}
.assign-content {
    width: 88%;
    margin: 3% auto 0;
	margin-left: 315px;
}
/* H1 page heading. */
.app-header {
	text-align: center;
	color: #fff;
	font-size: 39.81px;
}
#app-header {
	text-align: center;
	font-size: 39.81px;
}
/* Return and next links */
#return-home-container {
    margin-top: -5px;
	margin-left: 325px;
}
.next {
    margin-left: 638px;
}
.full-width {
	width: 100%;
}
/* Form and download button container */
.form {
	display: inline-grid;
    grid-template-columns: auto;
}
/* Centers button container (form field) within the form container */
.form-field {
	padding: 20px;
	margin-left: 20px;
}
