/**
    Title: Project Management Portal
    Author: Keith Hall
    Date: 12/25/2021
    Description: This is the theme style sheet for the Project Management Portal.
*/
body {
    font-family: Oswald, Verdana, Arial, sans-serif;
    overflow-x: hidden;  /* Hide horizontal scrollbar */
}
/* Light theme styling */
body.light-theme {
	color: #000;
    background-color: #fff;
}
/* Dark theme styling */
body.dark-theme {
	color: #fafafa;
	background-color: #303030;
}
body.dark-theme h1 {
	background-color: #9c27b0;
    border: 1px solid #9c37b0;
}
body.dark-theme h2 {
	background-color: #424242;
    border: 1px solid #424242;
}
body.dark-theme h3 {
	background-color: #424242;
    border: 1px solid #424242;
}
body.dark-theme h4 {
	background-color: #424242;
    border: 1px solid #424242;
}
body.dark-theme a {
	color: #fff;
}
body.dark-theme a:hover {
	background-color: #303030;
    color: #d176e1;
}
/* Styling of page headings. */
h1, h2, h3, h4 {
    background-color:  #000080;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
	width: 100%;
}
h2 {
	font-size: 27.65px;
}
/* Link styles */
a {
    text-decoration: none;
    color: #1034a6;
}
/* Color of links already visited. */
a:visited  {
    color:  #3F00FF;
}
/*  Link styles on mouse hover. */
a:hover {
    background-color: #D6A800;
    color: #000080;
}
/* The card container */
.card {
	padding: 8px 0 4px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	transition: 0.3s;
	width: 60%;
	background-color: #fff;
}
/* The card title and content styling */
.card-title {
	margin-top: 40px;
	text-align: center;
    font-size: 32px;
    color: #4F3674;
    font-weight: 400;
}
.card-content {
	padding: 2px 16px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Download button styling */
#download-btn {
	width: 55%;
	padding: 14px;
	background-color: #000080;
    color: #fff;
	font-size: 16px;
	border-radius: 1px;
	border-radius: 1px;
    margin-left: 203.9px;
	cursor: pointer;
}
#download-btn:hover {
	background-color: #D6A800;
    color:  #000080;
}